[Unit]
Description=Maintenance print job for Epson printers
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60

[Service]
WorkingDirectory=/srv/docker/epson-printer-maint
ExecStartPre=/usr/bin/env bash -c '/usr/bin/docker compose build --build-arg cache_date="$(date -Idate)" && /usr/bin/docker image prune -f'
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
